$input-color: #212529;
$input-color-border: #bdbdbd;
$input-color-interaction: #1e4bd1;
$input-color-danger: #dc3545;
$input-color-bg-low-contrast: #eff1f2;

$btn-text-color: #ffffff;
$btn-bg-color: #646cff;
$btn-active-bg-color: #2a32d8;
