$input-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
$input-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
$input-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
$input-color-interaction: #1e4bd1;
$input-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
$input-color-danger: #b50706;
$input-color-bg-low-contrast: #eff1f2;
$input-color-ink-high-contrast: #121212;
$input-color-bg-high-contrast: #ffffff;

$btn-text-color: #ffffff;
$btn-bg-color: #646cff;
$btn-active-bg-color: #2a32d8;
